
@{
    ViewBag.Title = "فعالسازی حساب کاربری";
    Layout = "~/Views/Shared/_AuthenticateLayout.cshtml";
}


<h4>کاربر عزیز!</h4>
<h4>حساب کاربری شما با موفقیت فعال شد با استفاده از دکمه زیر میتوانید وارد حساب کاربری مذکور شوید</h4>
<div class="text-center">

    <a href="/login" class="btn btn-success w-md waves-effect waves-light">ورود به پنل کاربری</a>
</div>