@using System.Configuration
@model DataLayer.Users
<div class="gs" style="margin: 0px; padding: 0px 0px 20px; width: 950px;">
    <div>
        <div class="ii gt" id=":185"
             style="font-size: 0.875rem; direction: ltr; margin: 8px 0px 0px; padding: 0px; position: relative;">
            <div class="a3s aiL " id=":184"
                 style="overflow: hidden; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: small; line-height: 1.5; font-family: Arial, Helvetica, sans-serif;">
                <div style="width: 950px; text-align: center; padding-bottom: 61px; direction: rtl; background-color: rgb(245, 245, 245); color: rgb(11, 157, 230) !important; font-family: tahoma !important; font-size: 14px !important;">
                    <div style="width: 950px;">
                        <img class="CToWUd a6T"
                             src="https://i.imgur.com/tBJuvOP.png"
                             style="cursor: pointer; outline: 0px; width: 115px; margin-right: 19px; margin-top: 24px; margin-bottom: 26px;"
                             tabindex="0" />
                    </div>

                    <div style="background-color: rgb(10, 245, 245); border-top-right-radius: 13px 62px; border-top-left-radius: 13px 62px; color: rgb(0, 0, 0); border-bottom: 0px; vertical-align: middle; width: 635px; margin: 0px auto; padding: 23px 15px 26px !important; line-height: 0 !important;">
                        سامانه سوختگان
                    </div>

                    <div style="margin: 0px auto; width: 600px; padding-right: 32px; padding-left: 32px; line-height: 2.2; background-color: rgb(253, 253, 253); border: 1px solid rgb(220, 220, 220); border-radius: 3px !important;">
                        <p style="text-align: right; padding: 0px 13px; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 13px; line-height: 2; color: rgb(86, 86, 86); margin-bottom: 0px !important;">
                            @Model.Name عزیز ، با سلام و عرض ادب!
                        </p>



                        <p style="text-align: right; padding: 0px 13px; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 13px; line-height: 2; color: rgb(86, 86, 86); margin-bottom: 0px !important; margin-top: 0px !important;">
                            کلمه عبور شما با موفقیت تغییر یافت جهت ورود به حساب کاربری می توانید از دکمه ورود استفاده کنید
                        </p>

                        <p style="margin-top: 39px;">
                            <a href="@ConfigurationManager.AppSettings["MyDomain"]/Login"
                               style="color: white; background-color: rgb(96, 125, 139); padding: 13px 15px; text-decoration-line: none; border-radius: 3px; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 13px; line-height: normal;"
                               target="_blank">ورود</a>
                        </p>


                        <div class="yj6qo">&nbsp;</div>


                    </div>


                </div>


            </div>
        </div>

    </div>
</div>